<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hello.hellospring.common.daos.BoardDao">

  <!-- 삭제 -->
  <delete id="deleteBoardFromMemberNo" 
    parameterType="com.hello.hellospring.common.bean.BoardBean">
    delete from
        board
    where 
        member_no = #{memberNo}
  </delete>
  
  <!-- 글쓰기 -->
  <insert id="insertBoard"
    parameterType="com.hello.hellospring.common.bean.BoardBean">
    insert into board
      (
        title
        ,contents
        ,member_no
      )
    values
      (
        #{title}
        ,#{contents}
        ,#{memberNo}
      )
  </insert>
  
  <select id="selectBoardList" parameterType="com.hello.hellospring.common.bean.BoardBean">
    SELECT 
        board_no as boardNo
        , title
        , contents
        , count
        , secret_yn as secretYn
        , member_no as memberNo, 
        (select name from member where member_no = b.member_no) memberName
        , reg_dt as regDt
    FROM board b
    WHERE 
      1=1
    <if test="search != null and search != ''">
      OR title like CONCAT('%', #{search}, '%') 
      OR contents like CONCAT('%', #{search}, '%')
    </if>
    ORDER BY board_no DESC 
    LIMIT   #{page}  , 10;
  </select>
  
  <select id="selectBoardListCount" parameterType="com.hello.hellospring.common.bean.BoardBean">
    SELECT 
        count(*)
    FROM board b
    WHERE 
      1=1
    <if test="search != null and search != ''">
      OR title like CONCAT('%', #{search}, '%') 
      OR contents like CONCAT('%', #{search}, '%')
    </if>
    ORDER BY board_no DESC 
  </select>
  
</mapper>