<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hello.HelloSpring.common.daos.MemberDao">

  <!-- 1건 조회 -->
  <select id="selectMember" parameterType="com.hello.HelloSpring.common.bean.MemberBean">
    select
        member_no as memberNo <!-- MemberBean과 이름을 맞춰줘야한다.  -->
        ,id
        ,pw
        ,name
        ,email
        ,addr
        ,birthdate
        ,hp
        ,reg_dt as regDt
        ,last_login_dt as lasLoginDt
    from 
        member
    where
        id = #{id}
  </select>
  
</mapper>