<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hello.hellospring.common.daos.MemberDao">

  <!-- 1건 조회 -->
  <select id="selectMember" parameterType="com.hello.hellospring.common.bean.MemberBean"
         resultType="com.hello.hellospring.common.bean.MemberBean">
    select
        member_no as memberNo <!-- MemberBean과 이름을 맞춰줘야한다.  -->
        ,id
        ,pw
        ,name
        ,email
        ,addr
        ,birthdate
        ,hp
        ,reg_dt as regDt
        ,last_login_dt as lastLoginDt
    from 
        member
    where
        id = #{id}
  </select>
  
  <!-- 여러 건 조회 -->
  <select id="selectMemberList" parameterType="com.hello.hellospring.common.bean.MemberBean">
  <!-- ResultType은 알아서 매핑된다. -->
    select
        member_no as memberNo 
        ,id
        ,pw
        ,name
        ,email
        ,addr
        ,birthdate
        ,hp
        ,reg_dt as regDt
        ,last_login_dt as lastLoginDt
    from 
        member
  </select>
  
  <!-- 검색 조회 -->
  <select id="selectMemberSearch" parameterType="com.hello.hellospring.common.bean.MemberBean">
  <!-- ResultType은 알아서 매핑된다. -->
    select
        member_no as memberNo 
        ,id
        ,pw
        ,name
        ,email
        ,addr
        ,birthdate
        ,hp
        ,reg_dt as regDt
        ,last_login_dt as lastLoginDt
    from 
        member
    where
        name like concat('%', #{name}, '%')
  </select>
</mapper>